
# directories (by name)

bin/
lib/

ipch/

Win32/
x64/

Debug/
Debug Multithreaded/
Debug Multithreaded DLL/
Release/
Release Multithreaded/
Release Multithreaded DLL/

TestResults/

# directories (by pattern)

# files (by name)

.DS_Store

# files (by pattern)

*~
*.bsc
*.ncb
*.obj
*.opensdf
*.opt
*.sdf
*.suo
*.swp
*.tmp

*.vcproj*user
*.vcxproj*user


