
# directories (by name)

bin/
lib/

ipch/

Win32/
x64/

Debug/
Debug Multithreaded/
Debug Multithreaded DLL/
Release/
Release Multithreaded/
Release Multithreaded DLL/

TestResults/

.tmp_versions/

# directories (by pattern)

# files (by name)

.DS_Store

Mkfile.old
Module.symvers
dkms.conf
modules.order

# files (by pattern)

*~
*.a
*.app
*.bsc
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.idb
*.ilk
*.lib
*.map
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.sdf
*.so
*.so.*
*.suo
*.swp
*.tmp

*.vcproj*user
*.vcxproj*user

